---
- name: Install st2 for arteria
  remote_user: vagrant
  hosts: master
  vars:
    st2_version: 1.4.0
    st2_revision: 8
    st2_system_user_in_sudoers: no
    st2_system_user: arteria
    st2_auth_username: testu
    st2_auth_password: testp
    mistral_db_password: ArteriaKicksAzz
    postgresql_logging_collector: on
    postgresql_log_directory: /var/log/postgresql
    arteria_environment: staging
  roles:
    # Postgres requires that the en_US.UTF-8 locale is set - this fixes that
    - locale
    - mongodb
    - rabbitmq
    - mistral
    - st2
    - st2web
    - arteria

- name: Setup the testarteria1 node
  remote_user: vagrant
  sudo: true
  hosts: nodes
  vars:
    arteria_environment: staging
  roles:
    - { role: arteria_node, tags: ['arteria_node'] }
    - { role: bcl2fastq, tags: ['bcl2fastq'] }
    - { role: siswrap, tags: ['siswrap'] }
    - { role: runfolder, tags: ['runfolder'] }
    - sisyphus

- name: Setup test remote node
  remote_user: vagrant
  sudo: true
  hosts: remote
  roles:
    - { role: arteria_common, tags: ['arteria_common'] }
    - sisyphus

